/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sections styling */

body {
    background-color: #f3f1ed;
    color: #2c2936;
}

header {
    height: 200px;
    margin: 0 auto;
    width: 800px;
    border-bottom: 4px solid #df7e37;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
}

article {
    margin: 20px auto;
    width: 800px;
    padding: 40px;
    border-style: hidden;
    border-radius: 20px;
    background-color: #ece7de;
}

footer {

    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 50px;
    background-color: #2f0a6b;
    color: #f3f1ed;
    border-top: 2px solid #453256;
}

footer p {
    vertical-align: middle;
    text-align: right;
    margin: 10px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Texte styling */

h1 {
    font-size: 3em;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    margin: 1.5em 0em;
    font-family: Arial, Helvetica, sans-serif;
}

/* Link styling*/

a:link,
a:visited {
    display: block;

    text-decoration: none;
    font-weight: none;
    text-align: center;
    color: #df7e37;

    padding: 5px;
    margin: 5px;
    border: hidden;
    border-radius: 10px;
    width: 150px;

}

a:hover,
a:visited:hover {
    color: #e75b1a;
}


a:active,
a:visited:active {
    color: #d4ab8d;
    background-color: #cccccc20;
}

/* Exception */
h1 a:link,
h1 a:visited {
    width: fit-content;
}

.align {
    margin: 0 auto;
    width: 800px;
}

img {
    float: left;
    margin: 1.5em 15px 10px 0px;
}