/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sections styling */

body {
    background-color: #f3f1ed;
    color: #2c2936;
}

header {
    height: 200px;
    background-color: #df7e37;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* header h1 {
    margin: 10px auto;
} */

nav ul{
    list-style: none;
}

article {
    margin: 20px 5px;
    padding: 40px;
    border-style: hidden;
    border-radius: 20px;
    background-color: #ece7de;
}

footer {

    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 50px;
    background-color: #2f0a6b;
    color: #f3f1ed;
    border-top: 2px solid #453256;
}

footer p {
    vertical-align: middle;
    text-align:right;
    margin: 10px 10px;
}

/* Texte styling */

h1{
    font-size: 3em;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    margin: 1.5em 0em;
    font-family:Arial, Helvetica, sans-serif; 
}

/* Link styling*/
/* a{
        text-decoration: none;
    } */

a:link,
a:visited {
    display: block;

    text-decoration: none;
    font-weight: none;
    text-align: center;
    color: #f3f1ed;

    /* background-color: #df7e37; */
    padding: 5px;
    margin: 5px;
    border: 1px solid grey;
    border-radius: 10px;
    width: 150px;

}

a:hover,
a:visited:hover {
    background-color: #2f0a6b;
}


a:active,
a:visited:active {
    background-color: #2c2936;
}

/* Exception */
h1 a:link,
h1 a:visited {
    display: block;

    text-decoration: none;
    font-weight: none;
    text-align: center;
    color: #f3f1ed;

    /* background-color: #df7e37; */
    padding: 5px;
    margin: 5px;
    border-style: hidden;
    border-radius: 10px;
    width: fit-content;
}
/* 
h1 a:hover,
h1 a:visited:hover {
    background-color: #2f0a6b;
}


h1 a:active,
h1 a:visited:active {
    background-color: #2c2936;
} */